//body
body {
    background-image: url(../images/polonez_car.png);
}
div#wrapper {
    max-width: 80rem;
    margin: 1rem auto;
    box-shadow: 0 0 10px #000000;
    background-color: #ffffff;
}

//nav 
nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
    ul li {
        width: auto;
    }
    ul li:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    uli li a {
        padding: 1rem 0.5rem;
    }
}

// main
main {

    figure.photo {
        width: 25% -$gutterdbl;
        float: left;
    }
    div.blog article {
        width: 33.33% -$gutterdbl;
    }
    div.blog article:nth-child(2n+1) {
        clear: none;
    }

    div.blog article:nth-child(3n+1) {
        clear: left;
    }
}
